{:thenounproject {:key    ""
                  :secret ""}
 :try-options    {:sleep 500
                  :decay :double
                  :tries 3}
 :prises         ["Nicely done!"
                  "Brilliant!"
                  "Outstanding!"
                  "This is truly above and beyond."
                  "This is superb!"
                  "Perfect!"
                  "Way to go!"
                  "Outstanding!"
                  "Remarkable!"
                  "Whoo-hoo!"
                  "That's exactly it!"
                  "That's it!"
                  "I knew you could do it."
                  "You make it look easy."
                  "That's the way!"]
 :always-as-text [;Source: https://en.wikipedia.org/wiki/Most_common_words_in_English

                  ;Nouns
                  ;"time"
                  ;"person"
                  ;"year"
                  "way"
                  ;"day"
                  "thing"
                  ;"man"
                  ;"world"
                  ;"life"
                  ;"hand"
                  ;"part"
                  ;"child"
                  ;"eye"
                  ;"woman"
                  ;"place"
                  ;"work"
                  ;"week"
                  ;"case"
                  ;"point"
                  ;"government"
                  ;"company"
                  "number"
                  ;"group"
                  "problem"
                  "fact"

                  ;Verbs
                  "be"
                  "have"
                  "do"
                  ;"say"
                  "get"
                  "make"
                  "go"
                  "know"
                  "take"
                  ;"see"
                  "come"
                  ;"think"
                  ;"look"
                  "want"
                  "give"
                  "use"
                  ;"find"
                  ;"tell"
                  ;"ask"
                  "work"
                  "seem"
                  "feel"
                  "try"
                  "leave"
                  ;"call"

                  ;Adjectives
                  ;"good"
                  ;"new"
                  ;"first"
                  ;"last"
                  ;"long"
                  ;"great"
                  "little"
                  "own"
                  "other"
                  ;"old"
                  ;"right"
                  "big"
                  "high"
                  ;"different"
                  "small"
                  "large"
                  "next"
                  "early"
                  ;"young"
                  ;"important"
                  "few"
                  "public"
                  ;"bad"
                  ;"same"
                  "able"

                  ;Prepositions
                  "to"
                  "of"
                  "in"
                  "for"
                  "on"
                  "with"
                  "at"
                  "by"
                  "from"
                  "up"
                  "about"
                  "into"
                  "over"
                  "after"
                  "beneath"
                  "under"
                  "above"

                  ;Others
                  "the"
                  "and"
                  "a"
                  "that"
                  "I"
                  "it"
                  "not"
                  "he"
                  "as"
                  "you"
                  "this"
                  "but"
                  "his"
                  "they"
                  "her"
                  "she"
                  "or"
                  "an"
                  "will"
                  "my"
                  "one"
                  "all"
                  "would"
                  "there"
                  "their"

                  ;Added later
                  "s"
                  "can"
                  "can't"
                  "cannot"
                  "could"
                  "couldn't"
                  "should"
                  "shouldn't"
                  "who"
                  "where"
                  "when"
                  "what"
                  "why"
                  "its"
                  "is"]
 }
